# Copie vers: ansible/group_vars/all.yml
# (En CI, ce fichier est généré depuis GitHub Secrets)
app_domain: "app.ton-domaine.com"
letsencrypt_email: "toi@email.com"

# Port SSH final après hardening (ex: 2022)
ssh_port: 2022

# Image de l'app (en CI elle est définie par le workflow)
app_image: "ghcr.io/owner/repo/demo-app:latest"

mariadb_root_password: "change-me"
mariadb_database: "appdb"
mariadb_user: "appuser"
mariadb_password: "change-me"
