# Copie vers: ansible/group_vars/all.yml (local)
# En CI, ce fichier est généré depuis GitHub Secrets.

app_domain: "app.ton-domaine.com"
letsencrypt_email: "toi@email.com"
ssh_port: 2022

# HA app
app_replicas: 2

# Upgrade MariaDB (ex: mariadb:10.11 -> mariadb:11)
mariadb_image: "mariadb:11"

app_image: "ghcr.io/owner/repo/demo-app:latest"

mariadb_root_password: "change-me"
mariadb_database: "appdb"
mariadb_user: "appuser"
mariadb_password: "change-me"
