[defaults]
inventory = inventory.ini
host_key_checking = True
retry_files_enabled = False

; IMPORTANT: Ne pas utiliser community.general.yaml (supprimé)
stdout_callback = ansible.builtin.default

interpreter_python = auto_silent

[ssh_connection]
pipelining = True

[callback_default]
result_format = yaml
